/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin : 0;
    padding: 0;
}

.header-booki {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 50%;
}

.navigation {
    display: flex;
}

.nav-link {
    color: black;
    margin-left: 20px;
    position: relative;
    padding: 20px;
    margin-bottom: 10px;
}

.nav-link:hover,
.nav-link:focus {
    color: #0065FC;
}

.nav-link:hover::before,
.nav-link:focus::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #0065FC;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1440px;
    padding-top: 50px;
}

form {
    display: flex;
    align-items: center;
}

.map {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 50px;
    background-color: #ececec;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}

.barre-de-recherche {
    display: flex;
    height: 50px;
    width: 50px;
    min-width: 150px;
    background-color: white;
    border: solid #ececec 1px;
    margin-right: -2px;
    border-right: none;
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    padding-left: 10px;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    min-width: 100px;
    background-color: #0065FC;
    border: solid #0065FC 1px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Raleway', sans-serif;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

button .button-text {
    display: block;
}

.fa-solid.fa-magnifying-glass {
    display: none;
    color: white;
}

.filtre-site {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.section-filtre {
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
    width: 100%;
}

.filtre {
    margin-right: 5px;
    padding: 10px;
}

.filtre-element {
    display: flex;
    align-items: center;
    height: 50px;
    border: solid #ececec 3px;
    border-radius: 50px;
    background-color: white;
}

.icone-filtre {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    width: 45px;
}

.p-icone {
    font-weight: bold;
    width: 100%;
}

.filtre-element:hover {
    background-color: rgba(0, 101, 252, 0.1);
}

.information-filtre {
    display: flex;
    align-items: baseline;
    margin-top: 20px;
}

.icone-information {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    min-width: 30px;
    background-color: white;
    border-radius: 100px;
    border: solid #ececec 2px;
    color: #0065FC;
}

.texte-icone-information {
    padding-left: 10px;
    margin-bottom: 30px;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    margin-bottom: 20px;
}

.card-hebergement {
    width: 100%;
    background-color: white;
    border-radius: 20px;
    margin: 10px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card-hebergement img {
    object-fit: cover;
}

.hebergements-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hebergements-cards img {
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

.hebergements-cards a {
    display: flex;
    flex-wrap: wrap;
    width: 33%;
}

.hebergements-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-rating {
    margin-bottom: 5px;
}

.afficher-plus {
    padding-top: 10px;
    font-weight: bold;
    margin-bottom: 20px;
}

.hebergements-cards .card-content {
    padding-left: 15px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
    margin-bottom: 20px;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

/****** Activités ***********/
.activites-section h2 {
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 20px;
}

.activites {
    display: flex;
    margin-top: 20px;
}

.activites-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding-right: 15px;
    padding-left: 15px;
    margin-bottom: 50px;
}

.card-a {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    height: 100%;
}

.activites-cards img {
    width: 100%;
    height: 380px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.activites-cards h3 {
    margin-left: 10px;
}

/****** footer ***********/
.footer-block {
    background-color: var(--main-bg-color);
    margin-top: 30px;
    width: 100%;
    padding: 20px 0;
    display: flex;
}

.footer-block div {
    width: 33%;
    margin-left:30px;
}

.footer-block li {
    list-style-type: none;
    padding-bottom: 15px;
}

ul {
    padding-left: 0;
}

.footer-block h2 {
    font-size: 16px;
    padding-bottom: 15px;
}

.links {
    padding-top: 20px;
    padding-bottom: 10px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }
    
    .hebergements-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 100%;
        padding: 0 10px;
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-cards {
    }

    .activites-cards img {
        height: 200px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .main-container {
        padding: 0;
    }
    
    .header-booki {
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        padding-top: 20px;
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 80%;
        margin-top: 20px;;
    }

    .nav-link {
        margin-left: 0;
        padding: 20px 0;
        text-align: center;
    }

    .nav-link:hover::before,
    .nav-link:focus::before {
        top: auto;
        bottom: 0;
    }

    .container {
        padding: 0;
    }

    h1 {
        font-size: 20px;
        padding: 0 15px
    }

    p {
        font-size: 16px;
        padding-left: 15px;
    }

    .bdr {
        padding-top: 20px;
    }

    button {
        box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.3);
        display: inline-block;
        width: 50px;
        min-width: 50px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }

    button .button-text {
        display: none;
    }

    .fa-solid.fa-magnifying-glass {
        display: inline-block;
    }

    .barre-de-recherche {
        width: 100%;
    }

    form {
        padding: 0 15px;
    }

    .filtre-site {
        display: flex;
        flex-direction: column;
    }

    .filtre-site h2 {
        padding-left: 15px;
    }

    .section-filtre {
        padding-left: 0;
    }

    .filtre {
        width: 44%;
        margin-bottom: 0;
        margin-right: 0;
    }

    .filtre-element {
        width: 100%;
        margin-bottom: 0;
    }

    .p-icone {
        font-size: 14px;
    }

    .icone-filtre, .p-icone {
        display: flex;
        align-items: center;
        margin-left: 10px;
    }

    .information-filtre {
        padding: 0 15px;
    }

    .texte-icone-information {
        display: flex;
    }

    .hebergements-and-populaires section {
        border-radius: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements-and-populaires .populaires{
        background-color: var(--main-bg-color);
        width: 100%;
        padding: 30px 0;
        box-sizing: border-box;
    }

    .hebergements-and-populaires .hebergements {
        background-color: transparent;
        padding: 0;
    }   

    .populaires {
        background-color: transparent;
        width: 100%;
        margin-bottom: 50px;
        margin-top: 0;
    }

    .populaires-cards {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 0 15px
    }

    .populaires-cards a {
        width: 100%;
        padding: 0;
    }

    .populaires-title {
        align-items: baseline;
        padding: 0 15px;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .hebergements-cards {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .hebergements-cards a {
        width: 100%;
    }

    .hebergements-and-populaires h2 {
        margin-bottom: 33px;
    }

    .hebergements-title {
        padding: 0 15px
    }

    .hebergements-cards .card-title {
        font-size: 14px;
    }

    .hebergements-cards .card-subtitle {
        font-size: 13px;
    }

    .activites-section h2 {
        padding-left: 15px;
    }

    .activites-cards {
        grid-template-columns: 1fr;
    }

    .activites-cards a {
        padding-top: 10px;
    }

    .activites-title {
        padding-left: 0;
    }

    .activites-cards img {
        height: 141px;
    }

    .afficher-plus {
        padding-left: 15px;
    }

    .footer-block h2 {
        padding-bottom: 0;
    }

    .footer-block {
        flex-direction: column;
    }

    .footer-block a {
        font-size: 15px;
    }

    .footer-block div {
        width: 50%;
    }

    .footer-block article {
        width: 100%;
    }
}